@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
img{
	margin: 5px 0;
	pointer-events: none;
	box-shadow: 2px 2px 8px 0 rgba(255, 255, 255, 0.4);
}
body{
	position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}
dl {
	width: 230px;
	height: 340px;
	position: relative;
	top: 70%;
	left: 40%;
	transform: translate(-50%, -50%);
	-webkit-transform-style: -webkit-preserve-3d;
	transform-style: preserve-3d;
}
dd {
	width: 230px;
	height: 340px;
	position: absolute;
	top: 0;
	left: 0;

}
.row{
	margin-left: -55px;
	--bs-gutter-x: 1.5rem;
}
.table {

	transform: translateY(-250px);
    background-color: rgb(252, 204, 212);
	box-shadow: 4px 4px 16px 0 rgba(255, 255, 255, 0.4);
	text-align: left;

}
th{
	border: 1px solid #ffffff;
	border-right: none;

}

td{
	border: 1px solid #ffffff;
	border-left: none;
	vertical-align: middle;

}
.table-light{
--bs-table-bg:rgb(252, 204, 212);
border: 1px solid #ffffff;
text-align: center;
}
.btn-warning {
    --bs-btn-color: #fff;
}
img{width:100%;height:100%;}

/* .inverteds {
	transform: scaleY(-1);
	position: absolute;
	left: 0;
	top: 370px;
	width: 230px;
	height: 340px;
	opacity:0.5;
/* } */
/* .inverted {
	position: relative;
	width: 230px;
	height: 340px; 

} */
/* .inverted::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -moz-radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
	background: -webkit-radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
	background: -o-radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
	background: radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
} */

.content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    } to{
        transform: rotateY(360deg);
    }
}
@media(min-width: 300px){
	dd {
		width: 200px;
		height: 310px;
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media(min-width: 1200px){
	dd {
		width: 230px;
		height: 340px;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.show{
	margin: 15px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.show button{
	width: 100px;
	height: 60px;
	box-shadow: 4px 4px 16px 0 rgba(255, 255, 255, 0.4);
}
.show #yes{
	margin-right: 100px;
}

#t_t {
  display: none;;
 width:500px;
 height:500px;
 margin:0 auto;
 background:#ffffff;
 position:fixed;
 left:50%;
 top:50%;
 margin-left:-250px;
 margin-top:-250px;
}