.tittle{
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 100px;
}
.logo_img{
  height: 100%;
  width: 100%;
}
.tieu_de{
  text-align: center;
  background-color: rgb(71, 84, 9);
}

.inf{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inf_left{
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 550px;
  background-color: rgb(126, 31, 31);
}
.inf_nam{
  height: 550px;
  background-color: rgb(219, 83, 83);
}
.inf_nam h2{
  text-align: center;
}
.inf_nam p{
  padding-left: 10px;
}
.vong_quay_nam{
  height: 550px;
  background-color: rgb(161, 27, 27);
}
.vong_quay_nam img{
  padding: 50px;
  height: 81.5%;
  width: 81.5%;
}
.inf_right{
  display: grid;
  grid-template-columns: 550px 1fr;
  height: 550px;
  background-color: rgb(67, 31, 126);
}

.vong_quay{ 
  height: 550px;
  background-color: rgb(67, 126, 31);
}
.vong_quay_nu{
  height: 400px;
  background-color: rgb(126, 59, 31);
}
.nut_gacha{
  height: 150px;
  background-color: rgb(126, 31, 121);
}
.nut_gacha_nu{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vong_quay_nu img{
  padding: 50px;
  height: 75%;
  width: 81.5%;
}
.inf_nu{
  height: 550px;
  background-color: rgb(219, 83, 183);
}
.inf_nu h2{
  text-align: center;
}
.inf_nu p{
  padding-left: 10px;
}
.vui_vui{
  height: 50px;
  background-color: yellow;
  border: solid 4px red;
}
.vui_vui h4{

  text-align: center;
}

