.header {
  height: 15vh;
  /* background-color: aqua; */
}

.logo {
  /* background-color: rgb(255, 187, 0); */

}

.content {
  height: 75vh;
  /* background-color: blue; */
}

.footer {
  height: 10vh;
  /* background-color: yellow; */
}

.infoMale {
  /* background-color: rgb(0, 255, 64); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.center_bt_check {
  /* background-color: rgb(0, 255, 64); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.imgMale {
  /* background-color: rgb(13, 70, 27); */
}

.imgFemale {
  /* background-color: rgb(255, 0, 221); */
}

.infoFemale {
  /* background-color: rgb(255, 196, 0); */
}

img {
  width: 100%;
  height: 100%;
}
th {
  min-height: 100px;
}
.btn{

}

.tat{
  display: none;
}
#t_t {
 width:500px;
 height:500px;
 margin:0 auto;
 background:#ffffff;
 position:fixed;
 left:50%;
 top:50%;
 margin-left:-250px;
 margin-top:-250px;
}